---
# defaults file for elasticsearch/

# X-Pack
# https://www.elastic.co/guide/en/x-pack/current/security-getting-started.html
- command: bin/elasticsearch-plugin install x-pack
  args:
    chdir: /usr/share/elasticsearch
    creates: /usr/share/elasticsearch/plugins/x-pack
  when: es_install_xpack == true
  notify: restart-elasticsearch

- command: bin/elasticsearch-plugin remove x-pack
  args:
    chdir: /usr/share/elasticsearch
    removes: /usr/share/elasticsearch/plugins/x-pack
  when: es_install_xpack == false
  notify: restart-elasticsearch
