---
# defaults file for elasticsearch/

# HEAD
# It seems broken at this point in time.
- command: bin/plugin remove head
  args:
    chdir: /usr/share/elasticsearch

#- command: bin/plugin install mobz/elasticsearch-head
#  args:
#    chdir: /usr/share/elasticsearch
#    creates: /usr/share/elasticsearch/plugins/head
#
#- debug: msg="http://{{ item }}:9200/_plugin/head"
#  with_items: ansible_all_ipv4_addresses

# KOPF
- command: bin/plugin install lmenezes/elasticsearch-kopf/master
  args:
    chdir: /usr/share/elasticsearch
    creates: /usr/share/elasticsearch/plugins/kopf

- debug: msg="http://{{ item }}:9200/_plugin/kopf"
  with_items: ansible_all_ipv4_addresses

# MARVEL
- command: bin/plugin install license
  args:
    chdir: /usr/share/elasticsearch
    creates: /usr/share/elasticsearch/plugins/license
  when: es_install_marvel == true

- command: bin/plugin install marvel-agent
  args:
    chdir: /usr/share/elasticsearch
    creates: /usr/share/elasticsearch/plugins/marvel-agent
  when: es_install_marvel == true
