---
# defaults file for elasticsearch/

# HEAD
- command: bin/plugin -install mobz/elasticsearch-head
  args:
    chdir: /usr/share/elasticsearch
    creates: /usr/share/elasticsearch/plugins/head

# ansible -m setup webservers -i hosts
- debug: msg="http://{{ item }}:9200/_plugin/head"
  with_items: ansible_all_ipv4_addresses

# KOPF
- command: bin/plugin -install lmenezes/elasticsearch-kopf/master
  args:
    chdir: /usr/share/elasticsearch
    creates: /usr/share/elasticsearch/plugins/kopf

- debug: msg="http://{{ item }}:9200/_plugin/kopf"
  with_items: ansible_all_ipv4_addresses